.tagsgen.json
tags
tags.temp
tags.lock
*.tags
.tags_sorted_by_file
*.swp
*.swo
*.teamocil.yml
*.pytify*
.composer
.npm
.vimrc
.phpactor.yml

parameter.ini
*_local.yml
behat.yml
Guardfile
node_modules
cache
logs
.phpactor.json
.config/nvim/plugin/packer_compiled.lua
.vscode
