snippet dvd
die(var_dump(${1}));
endsnippet

snippet vd
var_dump(${1});
endsnippet

snippet dd
dump(${1});die;
endsnippet

snippet dump
dump(${1});
endsnippet

snippet xdebug
ini_set('xdebug.var_display_max_depth', ${1:-1});
endsnippet
