snippet func "method"
${1:public} function ${2}(${3})
{
    ${4}
}
endsnippet

snippet ifunc "interface signature"
${1:public} function ${2}(${3});
endsnippet

snippet construct "PSR0 constructor"
${1:public} function __construct(${2})
{
    ${3}
}
endsnippet
